<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaec.shoes.mapper.CartMapper">
    <insert id="doInsert" parameterType="cart" >
        INSERT INTO cart (user_id, product_id, num) VALUES (#{userId},#{productId},#{num})
    </insert>
    <select id="queryByUserId" parameterType="int" resultType="map">
        SELECT product.PRODUCT_ID,product.PIC_ADRESS,product.PRODUCT_NAME,brand.BRAND_NAME,product.PRICE,cart.NUM FROM cart,product,brand WHERE product.BRAND_ID = brand.BRAND_ID AND cart.product_id=product.product_id AND user_id = #{userId}
    </select>
    <select id="queryByUserIdAndProductId" parameterType="int" resultType="cart">
        SELECT * FROM cart WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId}
    </select>
    <update id="doUpdate" parameterType="int" >
        UPDATE cart SET NUM = NUM + #{num} WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId}
    </update>
    <delete id="doDelete" parameterType="int">
        DELETE FROM cart WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId}
    </delete>
    <update id="doUpdateAdd" parameterType="int">
        UPDATE cart SET NUM = NUM + 1 WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId}
    </update>
    <update id="doUpdateSub" parameterType="int">
        UPDATE cart SET NUM = NUM - 1 WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId}
    </update>
    <select id="queryByUserIdANDProductIdAndNum" parameterType="int" resultType="cart">
        SELECT * FROM cart WHERE USER_ID = #{userId} AND PRODUCT_ID = #{productId} AND NUM >= 5
    </select>
    <select id="queryProduct4Order" resultType="map">
        SELECT product.PRODUCT_ID,product.PIC_ADRESS,product.PRODUCT_NAME,cart.NUM,product.PRICE FROM CART,PRODUCT WHERE cart.PRODUCT_ID = product.PRODUCT_ID AND cart.USER_ID = #{userId} AND cart.PRODUCT_ID IN
        <foreach collection="productIds" item="productId" index="index" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </select>
    <select id="total" resultType="map">
        SELECT SUM(NUM) NUM,SUM(NUM * PRICE) PRICE FROM CART,PRODUCT WHERE cart.PRODUCT_ID = product.PRODUCT_ID AND cart.USER_ID = #{userId} AND cart.PRODUCT_ID IN
        <foreach collection="productIds" item="productId" index="index" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </select>
    <select id="query" parameterType="int" resultType="map">
        SELECT * FROM cart,product WHERE cart.PRODUCT_ID = product.PRODUCT_ID AND cart.USER_ID = #{userId} AND cart.PRODUCT_ID = #{productId}
    </select>
</mapper>