<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaec.shoes.mapper.ProductMapper">
    <select id="queryAll" resultType="product">
        SELECT * FROM product WHERE state = 0 ORDER BY SALES_VOLUME DESC
    </select>
    <select id="query" parameterType="map" resultType="product">
        SELECT * FROM product WHERE state = 0
        <if test="sortId != null">
            AND SORT_ID = #{sortId}
        </if>
        <if test="brandId != null">
            AND BRAND_ID = #{brandId}
        </if>
        <if test="name != null">
            AND PRODUCT_NAME LIKE CONCAT('%',#{name},'%')
        </if>
        ORDER BY SALES_VOLUME DESC
    </select>
    <update id="updateStockAndSalesVolume" >
        UPDATE product SET STOCK = STOCK - #{num},SALES_VOLUME = SALES_VOLUME + #{num} WHERE PRODUCT_ID = #{productId}
    </update>
</mapper>